.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}


#decks-container {
    -fx-padding: 5px 12px;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}


.deck-description {
    -fx-padding: 3px;
    -fx-background-color: yellow;
    -fx-background-radius: 8px;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-text-fill: #2b095b;
    -fx-cursor: pointer;
}

.deck-description .content {
    -fx-background-color: linear-gradient(to right, #64350c, #be5c28dd);
    -fx-background-radius: 8px;
    -fx-cursor: pointer;
}


.edit-button {
    -fx-pref-height: 30px;
}

.delete-button {
    -fx-pref-height: 30px;
}


#add-button {
    -fx-font-size: 50px;
    -fx-text-fill: green;
    -fx-background-color: #83828266;
    -fx-background-radius: 10px;
}

#add-button:hover {
    -fx-font-size: 70px;
    -fx-text-fill: #38e238;
    -fx-background-color: #838282aa;
}

#add-button:pressed {
    -fx-font-size: 60px;
}

#add-button:focused {
    -fx-background-color: #83828299;
}


#active-deck-container .deck-description .content {
    -fx-background-color: linear-gradient(to right, #2e640c, #66be28bb);
}
