.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}


.cards-container {
    -fx-padding: 5px 0px 5px 30px;
    -fx-hgap: 8px;
    -fx-vgap: 20px;
}


.show-button {
    -fx-font-size: 16px;
    -fx-pref-width: 100px;
    -fx-pref-height: 16px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 5, 0, 0, 5);
}


.card-image {
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}

.card-image:hover {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}

.card-image:pressed {
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}


.selected-image {
    -fx-opacity: 1;
}

.selected-image:hover {
    -fx-opacity: 1;
}


.add-button {
    -fx-font-size: 30px;
    -fx-text-fill: green;
    -fx-background-color: #83828266;
    -fx-background-radius: 10px;
}

.add-button:hover {
    -fx-font-size: 40px;
    -fx-text-fill: #38e238;
    -fx-background-color: #838282aa;
}

.add-button:pressed {
    -fx-font-size: 35px;
}

.add-button:focused {
    -fx-background-color: #83828299;
}