* {
    -fx-font-family: "Merienda";
}


#root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


/* ----------button---------- */
.default-button {
    -fx-pref-width: 250px;
    -fx-pref-height: 70px;

    -fx-font-size: 24px;
    -fx-font-family: "Merienda";
    -fx-font-weight: bold;
    -fx-text-fill: orange;

    -fx-background-color: linear-gradient(to right, #640c0cee, #b83939dd);
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 10);

    -fx-cursor: hand;
}

.default-button:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.default-button:pressed {
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.default-button:focused {
    -fx-background-color: linear-gradient(to right, #050505ee, rgba(28, 28, 28, 0.5));
}


.button-small {
    -fx-pref-width: 200px;
}

.button-large {
    -fx-pref-width: 450px;
    -fx-pref-height: 80px;
}


/* ----------label---------- */
.default-label {
    -fx-font-size: 20;
    -fx-padding: 10px;
    -fx-background-radius: 20px;

    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to top right, #640707ee, #a00707dd);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0, 0, 8);
}

.default-label:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: linear-gradient(to top right, #640707, #a00707);
}


.title-label {
    -fx-min-width: 300px;
    -fx-alignment: center;
    -fx-font-size: 35;

    -fx-background-color: linear-gradient(to top right, #5a1306dd, #ff3300cc);
    -fx-background-radius: 10px;
    -fx-padding: 18px 40px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(40, 0, 0, 0.8), 5, 0, -5, 5);
}

.title-label:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: linear-gradient(to top right, #5a1306, #ff3300);
}


/* ----------input---------- */
.default-input {
    -fx-pref-height: 50px;
    -fx-pref-width: 350px;
    -fx-background-radius: 10px;

    -fx-prompt-text-fill: #888888;
    -fx-font-size: 16px;
    -fx-background-color: #ccccccee;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
}

.default-input:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: #cccccc;
}

.default-input:focused {
    -fx-background-color: #eeeeee;
}


/* ----------scroll---------- */
.increment-button,
.decrement-button {
    -fx-background-color: #1fc3ae;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #851116;
    -fx-border-color: derive(#6622CC, 80%);
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(#6622CC, 90%);
}


/* ----------choice box---------- */
.choice-box {
    -fx-background-color: #2b2b2b;
    -fx-mark-color: orange;
    -fx-cursor: hand;
}

.choice-box:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.choice-box:pressed {
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.choice-box > .label {
    -fx-text-fill: white;
}

.choice-box .context-menu {
    -fx-background-color: black;
    -fx-cursor: hand;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #b81111;
}


/* ----------description box---------- */
.description-box {
    -fx-padding: 5px;
    -fx-text-fill: blue;
    -fx-background-color: orange;
    -fx-background-radius: 5px;
}

.description-box .content {
    -fx-text-alignment: justify;
    -fx-background-color: yellow;
    -fx-background-radius: 5px;
}

.description-box .scroll-bar {
    -fx-background-color: red;
}