.number-input {
    -fx-pref-width: 80px;
}

/* ----------description box---------- */
.default-text-area {
    -fx-pref-width: 350px;
    -fx-padding: 5px;
    -fx-prompt-text-fill: #888888;
    -fx-background-color: #ccccccee;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 5);
}

.default-text-area:hover {
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-background-color: #cccccc;
}

.default-text-area:focused {
    -fx-background-color: #eeeeee;
}

.default-text-area .content {
    -fx-text-alignment: justify;
    -fx-background-color: #ccccccee;
}

.default-text-area .scroll-bar {
    -fx-background-color: transparent;
}

.default-text-area .scroll-pane {
    -fx-background-color: #ccccccee;
}

.default-text-area .scroll-pane .viewport{
    -fx-background-color: #ccccccee;
}

.default-text-area .scroll-pane .content{
    -fx-background-color: #ccccccee;
}

.default-text-area .increment-button,
.default-text-area .decrement-button {
    -fx-background-color: transparent;
}

.default-text-area .scroll-bar:horizontal .track,
.default-text-area .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.default-text-area .scroll-bar:horizontal .thumb,
.default-text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #414141;
}


.choice-box {
    -fx-pref-width: 250px;
}

.choice-box .context-menu {
    -fx-pref-width: 250px;
}


#price-label,
#level-label {
    -fx-pref-width: 180px;
    -fx-pref-height: 60px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}